.aside-bar{
    // margin-left: -24px;
    // position: fixed;
    // height: 80%;
    // z-index:-1;
}
.btn-outline{
    border: 1px dashed $darkgray;
    box-shadow: none;
    &:hover{
        background: $light;
    }
}

.pdf-render{
    // margin-right: -48px;
}

.minus{
    margin-left: -70px;
    margin-right: -70px;
}

#pdf{
    border:1px solid black;
    width: 100%;
}